*{margin:0 ;padding:0;
 font-family: "Arial","Microsoft Yahei","微软雅黑","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti !important;
}

a{text-decoration:none;}
/*导航*/

body{
	font-family: "Arial","Microsoft Yahei","微软雅黑","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti !important;
	 /*font-family:'Microsoft YaHei';
    font-family:'Arial','Microsoft YaHei','微软雅黑';*/
    /*text-align:center;
	background:#f0f1f1;
	behavior:url("../ie-css3.htc");*/
	background:#dee0e0;
    -webkit-font-smoothing: antialiased;
	}
img{border:0px;}	
a{text-decoration:none;}

 /*登录页面*/
.top{width:100%;
     height:101px;
	 margin:0 auto;
	 padding:0 auto;
	 background:url(../images/bg_bar.png) repeat-x;}	
.top_logina{
	width:100%;
	height:101px;
	margin:0 auto;
	padding:0 auto;
	background:url(../images/topbar.png) repeat-x;
	
}	 
.top .top_logo{
	width:120px;
	height:101px;
	float:left;
	
	
	
}
.top_logoa{
	/*width:1400px;*/
	 width:90%;
	margin:0 auto;
	padding:0 auto;
	
}
.top20{
	width:100%;
	height:60px;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
	position:absolute;
	top:70px;
	
}
.login{
	width:700px;
	margin:0 auto;
	text-align:center;
	margin-top:10%;
	margin-bottom:10%;
	
	
}
.logo_table{
	
	width:500px;
	margin:0 auto;
	text-align:center;
	
	margin-bottom:20px;
	height:50px;
}
.logo_tex{
	  width:70px;
	  float:left;
	  line-height:50px;
	  margin-right:12px;
	  text-align:right;
	  
}
.logo_table1{
	
	padding-left:50px;
}
.logo_tex span{
	float:left;
	margin-top:20px;
}
.logo_table .input_width{
	         width:294px;
             float:left;
			 height:50px;
			 background:url(../images/input_bg.png) no-repeat center;
			 border:none;
			 background-position:-1px -2px;
			 outline:none;
			 
			 }
.logo_table .input_test{
	         width:136px;
             float:left;
			 height:50px;
			 background:url(../images/input_test.png) no-repeat center;
			 border:none;
			 background-position:-1px -2px;
			  outline:none;
			 }			 
.logo_table .forget_pwd{
	float:left;
	line-height:50px;
	margin-left:24px;
	color:#ff7800;
	text-decoration:none;
	font-size:14px;
}
.logo_table  p{
	
	text-align:center;
}
.logo_table  .test_code{
	width:111px;
	float:left;
	line-height:41px;
	margin-left:24px;
	color:#ff7800;
	background:url(../images/code.png) no-repeat center;
	text-decoration:none;
	
}
.logo_table .button_login{
	width:127px;
	height:50px;
	background:url(../images/login_login.png) no-repeat center;
	font-size:16px;
	color:#fff;
	display:block;
	line-height:50px;
	float:left;
	margin-right:20px;
	text-decoration:none;
	margin-left:16%;

}
.logo_table  .button_register{
	width:127px;
	height:50px;
	line-height:50px;
	background:url(../images/login_register.png) no-repeat center;
	color:#ff7800;
	text-decoration:none;
	display:block;
	float:left;
	
	
	font-size:16px;
	
}
.return{text-decoration:none;
        color:#ff7800;
		font-size:12px;
		padding:5px 10px;
		border:1px solid #ff7800;
		border-radius:2px;
		position:absolute;
		bottom:0;
		right:0;}
.return:hover{
	text-decoration:none;
	color:#ff7800;
}		
/*专题列表页*/
.Special_list{width:1200px;
              margin:0 auto;
			  text-align:center;
			  margin-bottom:40px;
			  background:#fff;
			  padding-top:20px;
			  overflow:hidden;
			  }
/*首页*/
.top_bar{width:100%;
         height:70px;
		 margin:0 auto;
		 text-align:center;
		 /*background:url(../images/top_bar.png) repeat-x;*/
		 background:#1f1812;
		 }
.top_banner{
	    /*width:1400px;*/
	 width:90%;
		 height:70px;
		
		 margin:0 auto;
		 padding:0 auto;
		 text-align:center;
		 
}
.top_banner_left{  /*width:100px;*/
			  width:7%;
                 height:70px;
				 float:left;}	
.top_bar .top_banner .top_banner_right{
	         /* width:1300px;*/
			 width:93%;
			  height:70px;
			  float:right;
			 /* padding-left:470px;*/
			padding-left:5%;
}	
.top_bar_ul{ 
        /* width:400px;*/
			width:50%;
       height:70px;
			 float:left;
			 
			 }	
.top_bar_ul ul li{
	           list-style:none;
			   line-height:70px;
			   height:70px;
			   float:left;
	      
}	
.top_bar_ul ul li a{
	           text-decoration:none;
			    color:#be9e7e;
				padding:24px 20px;
				font-size:16px;
			   }
			   
.top_bar_ul ul li a:hover,.top_bar_ul ul li a.act{
	color:#ff7800;
	/*background:url(../images/bar_bottom.png) repeat-x bottom center;*/
	border-bottom:4px solid #ff7800;
	

}

.search{
	   width:240px;
	    height:70px;
		float:left;
		/*background:url(../images/search.png) no-repeat center;*/
}	
.search_input{
	width:240px;
	height:70px;
}
.search  .search_input p{
	float:left;
	height:70px;
	line-height:70px;
	margin-left:15px;
}
.search  .search_input p .search_xm	{
	width:160px;
	background:none;
	border:none;
	color:#6a5b4d;
	outline:none;
}	
.top_login {
	/*width:170px;*/
	width:20%;
	height:70px;
	float:right;
	position:relative;
} 
.top_login a{
	line-height:70px;
	padding:0 5px;
}
.top_login img{float:left;
         margin-top:10px;
		
	 
		 }
.banner{width:100%;
        height:605px;
		margin:0 auto;
		text-align:center;
		background:url(../images/banner_bg.png) center;
        }
.banner_a{width:1300px;
          height:605px;
		  padding:50px 0;
		 
		  text-align:center;
		  margin:0 auto;
		  position:relative;
		 }
.banner_b{width:1300px;
         height:100px;
		 position:absolute;
		 top:40%;
		 left:0;}	
.banner_b_left{
	float:left;
}
.banner_b_right{
	float:right;
}
.banner_c{
	width:1100px;
	height:500px;
	margin:0 auto;
	
}
.banner_c ul{
	margin:0 auto;
	text-align:center;
	padding:0 40px;
}
.banner_c ul li{
	list-style:none;
	background:#fff;
	float:left;
	margin:10px 20px;
	padding:0 0 20px 0;
}
.banner_d{
	width:300px;
	position:relative;
}
.banner_d_a{
	width:100%;
	height:70px;
	position:absolute;
	bottom:0; 
	left:0;
	/*
	background:rgba(0,0,0,0.5);
	-webkit-opacity: 0.5;  
	  -moz-opacity: 0.5;  
	   -khtml-opacity: 0.5;  
	   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);  	   
	filter:alpha(opacity=50);
	*/
	background:url(../images/bg_2.png) repeat-x; 
}
.banner_d_a_left{
	float:left;
	text-align:left;
	
}
.banner_d_a_left a{
	text-decoration:none;
	font-size:16px;
	color:#fff;
	line-height:70px;
}
.banner_d_a_right{
	float:right;
	width:88px;
	height:70px;
	
	background:url(../images/banner_bg1.png) no-repeat right center;
		color:#fff;
	font-size:16px;
	text-decoration:none;
	padding-top:15px;
	display:block;
}
.banner_d_b{
	width:100%;
	

}
.tableborder{
	width:100%;
	border:1px solid #dddada;
}
.tr_height{
	border-bottom:#dddada solid 1px;
	line-height:70px;
} 
.tr_title{
	height:50px;
	line-height:50px;
	background:#ff7800;
	color:#fff;
}
.td_left{
	text-align:left;
	padding-left:0.4%;
}	 
/*字体图标*/
.fonta{width:100%;
   height:140px;
   background:#fff;
   margin:0 auto;}
.fontimg{
	width:1200px;
	height:140px;
	margin:0 auto;
	text-align:center;
	padding:0 1%;
	
	
} 
.fontimg dl{width:30%;
           float:left;
            margin:30px 1%;
			padding-left:10%;}
.fontimg dl dt{float:left;}
.fontimg dl dd{float:left;
              margin-left:5px;
			  margin-top:10px;}
.fontimg dl dd span{color:#d0652f;
                 font-size:18px;}
.fontimg dl dd p{color:#9d9d9d;}
/*专题开始*/
.tip{width:100%;
     height:auto;
	 margin:0 auto;
	
	 text-align:center;
	 /*background:#dee0df;*/}
.tip_a{width:1200px;
       margin:0 auto;
	   padding:0 auto;
	   text-align:center;}
.tip_a li{list-style:none;
        float:left;
		width:1200px;
		margin-top:40px;
		box-shadow:0 0 10px #000;}	  
.tip_b{
	width:1200px;
	height:120px;
	background:#fff;
	margin:0 auto;
	text-align:center;
	padding-top:40px;
}	
.tip_b a{
	width:284px;
	height:53px;
	margin:0 auto;
	text-decoration:none;
	background:url(../images/tip_bg.png) no-repeat;
	font-size:18px;
	color:#fff;
	display:block;
	line-height:53px;
	font-weight:bold;
}	
/*专题结束*/
/*项目分类*/
.pro{width:1200px;
    background:#fff;
	 margin:0 auto;
	text-align:center;
	
	margin-bottom:40px;
	
	}
.proa{
	 width:1100px;
	 margin:0 auto;
	 text-align:center;
	 height:40px;
 
}
.proa_left{float:left;
           width:1000px;
		   height:40px;
		   margin-top:40px;
		   }
.proa_right{
	       float:left;
		   width:100px;
		   height:40px;
		   margin-top:40px;
		   color:#666666;
		   border:1px solid #f0f1f1;
}
.proa_right a{
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
}	
.prob{width:1100px;
      margin:0 auto;
	  text-align:center;
	  
	  }	 
.prob ul{margin:0 auto;
       text-align:center;
	   width:400px;
	  margin-top:40px;
	   }
.prob ul li{list-style:none;
         float:left;
		 line-height:26px;
		 }
.prob ul li a{
	     text-decoration:none;
		 padding:0 15px;
		 font-size:16px;
		 background:url(../images/bar.png) no-repeat right center;
		 color:#888888;
}	
.prob ul li a:hover,.prob ul li .actc{
	 color:#368ae8;
	 text-decoration:none;
}
.proc{
	  width:1100px;
      margin:0 auto;
	  text-align:center;
	  padding-top:40px;
	 
}
.proc_a{
	width:1100px;
	height:130px;
	border-top:1px solid #f0f1f1;
	background:#fff;
	margin:0 auto;
	text-align:center;
	
}
.proc_a_a{
	width:70px;
	float:left;
	min-height:70px;
	margin-right:12px;
	margin-top:21px;
	
}	
.proc_a_b{
	width:130px;
	height:94px;
	line-height:94px;
	float:left;
	position:relative;
	margin-right:5px;
	margin-top:21px;
} 
.proc_a_b img{border:1px solid #cccccc;

 }
 .proc_a_b .going{
	 width:60px;
	 height:20px;
	 line-height:20px;
	 background:#ff7800;
	 position:absolute;
	 left:4px;
	 color:#fff;
	 font-size:14px;
 }
 .proc_a_b  .suess{
	  width:60px;
	 height:20px;
	 line-height:20px;
	 background:#368ae8;
	 position:absolute;
	 top:21px;
	 left:4px;
	 color:#fff;
	 font-size:14px;
	 
 }
.proc_a_b .fali{
	 width:60px;
	 height:20px;
	 line-height:20px;
	 background:#999999;
	 position:absolute;
	 top:21px;
	 left:4px;
	 color:#fff;
	 font-size:14px;
	 
 }
.proc_a_c{
	  width:350px;
	  height:130px;
	 
	  float:left;
	  background:url(../images/bar_right.png) no-repeat right center;
  }
.proc_a_c h4{
	 margin-top:20px;
	 text-align:left;
}
.proc_a_c ul{margin-top:30px;
            height:30px;}
.proc_a_c ul li{list-style:none;
             float:left;
			 padding:0 10px;}
.proc_a_c ul li span{font-size:14px;
             color:#999999;
			 padding-left:5px;}	
.proc_a_d{
	 width:180px;
	 height:130px;
	 float:left;
	 background:url(../images/bar_right.png) no-repeat right center;
}
.proc_a_d ul{
	margin-top:30px;
}
.proc_a_d ul li{
	list-style:none;
	margin-top:20px;
}
.proc_a_e{
	 width:90px;
	 height:130px;
	 float:left;
	 background:url(../images/bar_right.png) no-repeat right center;
}
.proc_a_e ul{
	margin-top:30px;
}
.proc_a_e ul li{
	list-style:none;
	margin-top:20px;
}
.proc_a_f{
	width:150px;
	height:130px;
	line-height:130px;
	float:left;
	padding-top:40px;
}
.proc_a_f .circle{
	/*margin-top:30px;*/
	float:right;
	/*margin-right:20px;*/
}
.wancheng{
	 width:70px;
	 height:53px;
	 display:block;
	 float:left;
	 background:url(../images/wancheng.png) no-repeat;
}	
.jieshu{
	 width:70px;
	 height:53px;
	 display:block;
	 float:left;
	 background:url(../images/jieshu.png) no-repeat;
}
.sh_xq{
	
	font-size:14px;
	width:20%;
	float:left;
	text-align:right;
	padding-right:2%;
}	
.theme_bgtime{
	width:60%;
	margin:0 auto;
	text-align:center;
	background:#ff7800;
	color:#fff;
	line-height:38px;
}		 
/*项目分类*/
/*尾部*/
.bottom{width:100%;
        height:300px;
		background:#1f1812;
		margin:0 auto;
		text-align:center;
		}
.bottom_a{
	  width:1200px;
	  height:300px;
	  margin:0 auto;
	  text-align:center;
	
}	
.bottom_a_a{
	width:1200px;
	height:177px;
	border-bottom:1px solid #f0f1f1;
}
.bottom_a_a_a{
	 width:1000px;
	 height:177px;
	 margin:0 auto;
	 text-align:center;
	 
}

.bottom_a_a_a_left{
	
	width:800px;
	height:177px;
	float:left;
}
.bottom_a_a_a_left ul{
	margin-top:60px;
}
.bottom_a_a_a_left ul li{
	float:left;
	margin-right:50px;
	list-style:none;
}
.bottom_a_a_a_left ul li a{
	text-decoration:none;
	font-size:18px;
	color:#ff7800;
}
.bottom_a_a_a_right{
	width:200px;
	height:177px;
	float:right;
}
.bottom_a_a_a_right dl{
	float:right;
	margin-top:10px;
}
.bottom_a_a_a_right dl dd{
	color:#ff7800;
	font-size:18px;
}
.bottom_a_a_b{
	 width:1000px;
	 height:123px;
	 margin:0 auto;
	 text-align:center;
	
}	
.bottom_a_a_b p{
	text-align:center;
	margin:0 auto;
	color:#be9e7e;
	font-size:14px;
	margin-top:5px;
}
/*支持项目页开始*/
.sur_xm{
	width:1200px;
	margin:0 auto;
	text-align:center;
	background:#fff;
	margin-top:40px;
	margin-bottom:40px;

	overflow:hidden;
	
}
.sur_xm_bar{
	width:100%;
	height:50px;
	line-height:50px;
	padding:10px 40px;
}
.sur_xm_bar dl{
	width:100%;
	
	height:50px;
	border-bottom:1px solid #dee0e0;
}
.sur_xm_bar dl dt{
	float:left;
	color:#333333;
	font-size:24px;
}
.sur_xm_bar dl dd{
	float:right;
	color:#666666;
	font-size:14px;
}
.sur_xm_con{
	width:100%;
	padding:0 40px;
	overflow:hidden;
	margin-top:20px;
}
.sur_xm_con_left{
	width:700px;
	
	float:left;
	overflow:hidden;
	
}
.sur_xm_con_left  .sur_xm_con_left_a{

	width:80%;
	text-align:left;
	
	
}
.sur_address{
	width:100%;
}

.sur_address .sur_address_ul li{
	width:100%;
	height:30px;
	line-height:30px;
	height:30px;
	list-style:none;
	font-size:14px;
	color:#333333;
	padding-left:5px;
	
}
.sur_xm_can{
	width:100%;
	height:50px;
	line-height:50px;
	background:#f9f9f9;
	
}
.sur_xm_can dt{
	float:left;
	padding-left:10px;
	font-size:18px;
	line-height:50px;
	color:#333333;
}
.sur_xm_can dd{
	float:right;
	padding-right:20px;
	height:50px;
}
.sur_xm_can dd a{
	text-decoration:none;
	padding:5px 10px;
	border:1px solid #ff7800;
	color:#ff7800;
	line-height:50px;
	border-radius:2px;
}
.sur_xm_con_right{
	float:right;
	
	width:400px;
	
}
.sur_xm_con_left_b{
	width:100%;
	
	margin-top:20px;
	border-radius:2px;
	border:1px solid #cccccc;
}

.sur_xm_con_left_b p{
	color:#333333;
	font-size:18px;
	text-align:left;
	padding-left:10px;
	font-weight:bold;
}
.sur_xm_con_left_b_con{
	text-align:left;
	padding-left:10px;
	font-size:14px;
	color:#cccccc;
	padding-bottom:10px;
}
.sub{text-decoration:none;
    color:#fff;
	width:100px;
	line-height:30px;
	background:#ff7800;
	margin-top:10px;
	display:block;
	border-radius:2px;}
.sub:hover{
	text-decoration:none;
	color:#fff;
}	
/*支持项目页结束*/
/*支付页面*/
.pay_cont1{
	width:100%;
	overflow:hidden;
	
}
.pay_cont1_left{
	width:50%;
	overflow:hidden;
	float:left;
	
	text-align:left;
	
}
.pay_cont1_left span{
	font-size:18px;
	color:#333333;
}
.pay_cont1_left_pay{
	width:100%;
	
	background:#f9f9f9;
	padding:20px 10px;
}
.pay_cont1_right{
	width:30%;
	overflow:hidden;
	float:left;
	
}
.sur_xm_con_left_b_con ul{
	width:100%;
	overflow:hidden;
}
.sur_xm_con_left_b_con ul li{
	float:left;
	list-style:none;
	margin-right:5px;
}
/*支付页面*/
/*项目列表页开始*/
.xm_lista{
	width:1200px;
	margin:0 auto;
	text-align:center;
	background:#fff;
	margin-top:40px;
	margin-bottom:40px;
	padding-top:20px;
}
.xm_lista_ul{
	width:1200px;
	margin:0 auto;
	text-align:center;
    border-bottom:1px solid #ff7800;
	
}
.xm_lista_ul ul{
	width:1100px;
	margin:0 auto;
	text-align:left;
	height:43px;
}
.xm_lista_ul ul li{list-style:none;
               float:left;
			   line-height:43px;}
.xm_lista_ul ul li a{
	font-size:14px;
	color:#666666;
	text-decoration:none;
	padding:10px 28px;
}
.xm_lista_ul ul li a:hover,.xm_lista_ul ul li .actb{
	padding:12px 28px;
	/*border-top:1px solid #ff7800;
	border-left:1px solid #ff7800;
	border-right:1px solid #ff7800;*/
	background:#ff7800;
	border-bottom:3px solid #ff7800;
	color:#fff;
}

.xm_lista_content{
	width:1200px;
	margin:0 auto;
	text-align:center;
	overflow:hidden;
}	
.xm_lista .area{
	
	padding:10px 10px;
	height:60px;
	text-align:center;
	position:relative;
}
.addres{
	text-decoration:none;
	background:#ff7800;
	padding:10px 20px;
	color:#fff;
	float:left;
	margin-left:40px;
	font-size:14px;
	text-decoration:none;
	float:left;
}
.addres:hover{
	color:#fff;
	font-size:14px;
	text-decoration:none;
}
.add_xm{
	float:right;
	
	
}
.add_xm tr td a{
	font-size:14px;
	color:#333333;
	text-decoration:none;
	padding:5px 10px;
}
.add_xm tr td a:hover,.add_xm tr td .atg{
	background:#ff7800;
	color:#fff;
}
.area_div{
   width:500px;
   
   border:1px solid #cccccc;
   background:#cccccc;
   position:absolute;
   top:50px;left:120px;
   z-index:3;
}
.selecact{
	height:40px;
	font-size:14px;
}
.area_div_a{
	width:500px;
	background:red;
}
.area_div_a li{
	list-style:none;
	float:left;
}	
.area_div_a li a{
	text-decoration:none;
	color:#000;
	padding:5px 10px;
	font-size:14px;
	line-height:28px;
}
.area_add{
	width:480px;
	height:200px;
	margin:0 auto;
	
}	
.area_add_table{
	width:100%;
	
} 
.area_add_table ul li{
	float:left;
	list-style:none;
	margin-right:10px;
} 
.area_add_table ul li a{
	text-decoration:none;
	font-size:14px;
	color:#000;
	
}
.area_add_table ul li a:hover{
	text-decoration:none;
	color:#ff7800;
	
} 
/*项目列表页结束*/
/*个人中心左侧竖着的导航开始*/
.container{width:100%;
          
		  margin:auto;}

.leftsidebar_box{width:380px;
                  height:auto !important;
                 overflow:visible !important;
				height:100% !important;
				
				/*background-color:#3992d0;*/}
.line{height:2px;
       width:100%;
	 /*  background-image:url(../images/line_bg.png);*/
      background-repeat:repeat-x;}
.leftsidebar_box dt{/*padding-left:40px;*/
                     padding-right:10px;
					 background-repeat:no-repeat;
					 background-position:10px center;
					 color:#be9e7e;
					 font-size:18px;
					 position:relative;
					 line-height:50px;
					 height:50px;
					 cursor:pointer;}
.leftsidebar_box dd{background-color:#1f1812;
                 /* padding-left:40px;*/
				  font-size:14px;
				  border-left:4px solid #ff7800;
				  line-height:40px;
				  height:40px;}
.leftsidebar_box dd a{color:#f5f5f5;
                     line-height:40px;
                     height:40px;
					 text-decoration:none;}
.leftsidebar_box dd a:hover{
	color:#ff7800;
}					 
.leftsidebar_box dt img{position:absolute;
                      right:10px;top:20px;
					  width:20px;height:20px;}

.system_log, .custom,.channel,.app,.cloud,.syetem_management,.source,.statistics {
	margin-left:-15px;
}
				  
.system_log dt{background-image:url(../images/system.png);border-bottom:1px solid #5d554c;}
.custom dt{background-image:url(../images/custom.png);border-bottom:1px solid #5d554c;}
.channel dt{background-image:url(../images/channel.png);border-bottom:1px solid #5d554c;}
.app dt{background-image:url(../images/app.png);border-bottom:1px solid #5d554c;}
.cloud dt{background-image:url(../images/cloud.png);border-bottom:1px solid #5d554c;}
.syetem_management dt{background-image:url(../images/syetem_management.png);border-bottom:1px solid #5d554c;}
.source dt{background-image:url(../images/source.png);border-bottom:1px solid #5d554c;}
.statistics dt{background-image:url(../images/statistics.png);border-bottom:1px solid #5d554c;}
.leftsidebar_box dl dd:last-child{padding-bottom:10px;;border-bottom:1px solid #5d554c;}
/*个人中心左侧竖着的导航结束*/
/*回报设置1开始*/
.set1{width:1200px;
      
	  overflow:hidden;
	  margin:40px auto;
	  text-align:center;
	
	  
      }
.set_top{
	width:1200px;
	height:114px;
	background:#f0f1f1;
	margin:0 auto;
	text-align:center;
	overflow:hidden;
	
}
.set_bottom{
	width:1200px;
	margin:0 auto;
	text-align:center;
	overflow:hidden;
	background:#fff;
	padding:20px 80px;
	
	
}
.sur_xm_con_left_b_cona{
	width:100%;
	border-bottom:1px solid #cccccc;
	padding-bottom:10px;
}
.sur_xm_con_left_b_cona p{
	color:#666666;
	font-size:14px;
}
.sur_xm_con_left_f{
	width:70%;
	overflow:hidden;
	float:left;
}
.sur_xm_con_left_r{
	width:30%;
	overflow:hidden;
	float:right;
}
.sur_xm_con_left_r_e{
	width:100%;
	margin:0 auto;
	overflow:hidden;
	background:#f9f9f9;
	padding:25px 25px;
}
.sur_xm_con_left_r_e span{
	color: #333333;
    font-size: 18px;
    font-weight: bold;
	
	
	
}
.sur_xm_con_left_r_e p{
	float:left;
	width:100%;
	font-size:14px;
	color:#333333;
	text-align:left;
	margin-top:8px;
}	
.zhichi{
	width:132px;
	height:50px;
	background:url(../images/zhichi.png) no-repeat;
	float:left;
	line-height:50px;
	text-decoration:none;
	color:#fff;
}
.zhichi:hover{
	color:#fff;
	text-decoration:none;
}  
/*回报设置1结束*/
/*项目详情页开始*/
.xm_contenta{
	width:1200px;
	margin:0 auto;
	text-align:center;
	background:#fff;
	margin-top:40px;
	overflow:hidden;
	
	height:524px;
}
.xm_contenta_left{
	width:800px;
	float:left;
	height:524px;
	
}
.xm_contenta_right{
	width:400px;
	float:right;
	height:524px;
	
}
.xm_contenta_righta{
	width:400px;
	
	height:524px;
	
}
.xm_contenta_righta_a{
	width:95%;
	height:102px;
	padding:10px 10px;
	
	
}
.xm_contenta_righta_a_left{
	width:66px;
	float:left;
}
.xm_contenta_righta_a_right{
	float:left;
	padding-left:2%;
	width:80%;
	height:85px;
}
.xm_contenta_righta_a_right p{
	color:#3c434e;
	font-size:14px;
	text-align:left;
}
.xm_contenta_righta_a_right p span {
	padding:0 7px 0 0;
	background:url(../images/bar1.png) no-repeat right center;
	color:#ff7800;
}
.xm_contenta_righta_b{
	width:95%;
	margin-left:5%;
	height:150px;
	background:url(../images/jindubar.png) no-repeat left center;
}
.xm_contenta_righta_b_a{
	      width:100%;
		  padding-top:30px;
		  padding-left:5%;
}
.xm_contenta_righta_c{width:95%;
                     margin-left:5%;
					 padding-top:3%;}
.xm_contenta_righta_c dl{width:100%;
                        height:50px;
					  line-height:50px;
					  border-bottom:1px solid #dee0e0;}
.xm_contenta_righta_c dl dt{float:left;
                        color:#999999;
						font-size:18px;}	
.xm_contenta_righta_c dl dd{float:right;
                        color:#333333;
						font-size:24px;
						padding-right:10px;}
.xm_contenta_righta_d{width:100%;
                      height:50px;
					  background:#d3cabe;
					  line-height:50px;}	
.xm_contenta_righta_d_a{float:left;
                     font-size:14px;
					 color:#fff;
					 padding-left:2%;
					 padding-right:2%;}	
.xm_contenta_righta_d_b{float:right;}	
.xm_contentb{width:1200px;
              margin:0 auto;
			  text-align:center;
			  margin-top:20px;
			 overflow:hidden;
			 
			  }
.xm_contentb_left{
	    width:800px;
		float:left;
		overflow:hidden;
}
.xm_contentb_left_a{
	width:100%;
	background:#fff;
	margin-top:20px;
}
.xm_contentb_left_a h4{
	width:100%;
	height:56px;
	background:#f9f9f9;
	line-height:56px;
	font-size:18px;
	font-weight:bold;
	color:#333333;
	text-align:left;
	padding-left:2%;
}

.xm_contentb_right{
	   width:400px;
	   float:right;
	   overflow:hidden;
	  
}
.xm_contentb_right_a{
	width:380px;
	
	background:#fff;
	margin-top:20px;
	margin-left:20px;
}
.xm_contentb_right_a dl{
	width:380px;
	background:#f9f9f9;
	height:56px;
	line-height:56px;
	padding:0 15px;
}
.xm_contentb_right_a dl dt{
	float:left;
	line-height:56px;
	color:#ff7f15;
	font-size:24px;
}
.xm_contentb_right_a dl dd{
	float:right;
	line-height:56px;
	font-size:14px;
	color:#333333;
}
.xm_contentb_right_a_a{width:340px;
               margin:25px 20px;
				
				background:url(../images/bar2.png) repeat-x bottom center;
				}
.xm_contentb_right_a_a h4{
	font-size:18px;
	line-height:30px;
	font-weight:bold;
	text-align:left;
	color:#333333;padding-bottom:10px;
}

.xm_contentb_right_a_b{
	margin:20px 0;
}
.xm_contentb_right_a_b p{
	font-size:14px;
	color:#666666;
	text-align:left;
}	
.xm_contentb_right_a_b{
	width:340px;
	margin:20px 0;
	padding:0 auto;
	text-align:center;
	padding-bottom:20px;
}
 
.xm_contentb_right_a_a_b{
	width:340px;
	margin:0 20px;
	/*padding:20px 0;*/
	padding:0 0 20px 0;
	
}
.sur1{ width:182px;
       height:54px;
	   line-height:54px;
	   display:block;
	   margin:0 auto;
	  text-align:center;
	  background:url(../images/sur1.png) no-repeat;
	   text-decoration:none;
	   color:#fff;
	   font-size:16px;}
.sur1:hover{
	color:#fff;
	text-decoration:none;
}
.sur2{ width:182px;
       height:54px;
	   line-height:54px;
	   display:block;
	   margin:0 auto;
	  text-align:center;
	  background:url(../images/sur2.png) no-repeat;
	   text-decoration:none;
	   color:#fff;
	   font-size:18px;
	   font-weight:bold;}
.sur2:hover{
	color:#fff;
	text-decoration:none;
}	   
.xm_contentb_left_a_con{
	width:100%;
	padding:19px 17px;
	position:relative;
}
.xm_contentb_left_a_con_con{
	font-size:14px;
	color:#666666;
	text-align:left;
	margin-bottom:20px;
}
.xm_contentb_left_a_con_con_a{
	font-size:14px;
	color:#666666;
	text-align:left;
	margin-bottom:20px;
	position:relative;
}

.textarea_con{
	width:100%;
	background:#f9f9f9;
	outline:none;
	border:0;
	padding:2%;
	
}
.xm_textarea{
	margin:0 auto;
	text-align:center;
	font-size:16px;
}
.xm_textarea .comment{
	color:#ff7800;
	text-decoration:none;
	padding:15px 52px;
	background:url(../images/comment.png) no-repeat center;
}
.xm_textarea .noumber{
	margin-left:30px;
}

.fenxiang{ 
       
		overflow:hidden;
		zoom:1; 
		margin:0 16px;
		border-bottom:1px solid #f0f1f1;}
.fxw1{ width:600px; 
      float:left;}
.fxw2{ width:120px; 
     float:right; 
	 padding-top:20px;}
.fxw2 dl{ overflow:hidden; 
         zoom:1; 
		 padding:10px 0;}
.fxw2 dl dt{ width:65px;
        float:left;}
.fxw2 dl dd{ width:145px;
            float:left;
			color:#444444; 
			font-size:14px; 
			padding-top:5px;}
.fxw21{ font-size:12px;
        color:#959595;}
.fxw21 a{ color:#0073B6; 
        margin-right:10px;}
.user_b4{ overflow:hidden; 
          zoom:1; 
		  padding:20px 0;
		  }
.user_b4 dt{ width:65px;
            float:left;}
.user_b4 dd{ width:535px; 
            float:left; 
			color:#888888; 
			font-size:14px;}
.user_b4 dd strong{ font-size:18px;
                font-weight:normal;}	
.user_b41{ 
          font-size:14px; 
		  color:#959595;}
.user_b41 a{ color:#0073B6; 
          margin-right:10px;}
.user_b42{ margin:5px 0;}	
.fxw21{ font-size:12px; 
         color:#959595;}
.fxw21 a{ color:#0073B6; 
         margin-right:10px;}		
/* fenxiang end */			  
/*项目详情页结束*/
/*关于我们*/
.about_a{
	width:1200px;
	margin:0 auto;
	
	text-align:center;
	background:#fff;
	margin-top:40px;
	margin-bottom:40px;
	overflow:hidden;
	
}
.about_a_left{
	width:400px;
	float:left;

	background:#f1f0ef;
	overflow:hidden;
	
}
.about_a_left ul{width:100%;

}
.about_a_left ul li{
	width:100%;
	height:70px;
	line-height:70px;
	background:url(../images/about.png) no-repeat;
	list-style:none;
	/*padding-left:20%;*/
	text-align:left;
	border-bottom:1px solid #dee0e0;
	
}
.about_a_left ul li:hover, .about_a_left ul .hove{
	width:100%;
	height:70px;
	line-height:70px;
	background:url(../images/abbout_hover.png) no-repeat;
	list-style:none;
	/*padding-left:20%;*/
	text-align:left;
	color:#fff;
	font-size:18px;
	text-decoration:none;
	display:block;
	
}
.about_a_left ul li:hover a{
	color:#fff;
}
.about_a_left ul li a{
	text-decoration:none;
	font-size:18px;
	color:#666666;
	padding-left:20%;
}
.about_a_right{
	width:800px;
	float:right;
	
	padding:20px 20px;
	overflow:hidden;
}
.about_a_right_a{
	width:100%;
	height:60px;
	line-height:60px;
	border-bottom:1px solid #dee0e0;
}
.about_a_right_a span{
	font-size:24px;
	color:#333333;
	float:left;
}
.about_a_right_a_a{
	width:100%;
	
}
.font_about{
	text-align:left;
	font-size:12px;
	color:#333333;
	padding-top:20px;
	line-height:20px;
}
.about_a_right_dl{
	padding-top:20px;
	text-align:left;
}
.about_a_right_dl dl dt{float:left;
                      margin-right:80px;
					  font-size:16px;
					  color:#333333;}
.about_a_right_dl dl dt select{font-size:16px;
                       margin-left:20px;
					   height:40px;
					   width:130px;
					  
					   outline:none;}					  
.about_a_right_dl dl dd{
	font-size:16px;
	color:#333333;
}
.about_a_right_dl dl dd input{
	       width:200px;
		   height:40px;
		   margin-left:20px;
}
.about_a_right_dl dl dd .shai{
	font-size:16px;
	color:#fff;
	padding:5px 20px;
	background:#ff7800;
	margin-left:20px;
	text-decoration:none;
	border-radius:3px;
}

/*帮助页样式*/
.about_all{
	width:1200px;
	margin:0 auto;
	
	text-align:center;
	background:#fff;
	margin-top:40px;
	margin-bottom:40px;
	overflow:hidden;
	
}

/**/

.jiacu{
	font-size:16px;
	font-weight:bold;
	color:#333333;
	background:#f0f1f1;
	line-height:50px;
	padding-left:10px;
}
.jiacutable{height:100px;
line-height:100px;
font-size:16px;
color:#333333;}
.about_b_c{
	width:100%;
	height:auto;
}
.prov{width:130px;
      height:40px;
	  border-radius:2px;}
.city{width:100px;
border-radius:2px;
height:40px;
margin-left:20px;}
.upload_img{float:right;
     width:250px;

	 
	 }
.upload_img img{
	                width:150px;
                    height:150px;
					border-radius:75px;
					border:5px solid #fff;
					margin-top:40px;
					-moz-border-radius: 75px; 
					/* Gecko browsers */
					-webkit-border-radius: 75px; 
					/* Webkit browsers */
					border-radius:75px;
}	
.upload_img span{
	width:150px;
	height:50px;
	display:block;
	background:url(../images/toupic_pic.png) no-repeat;
	margin:20px 50px;
} 
.upload_img span a{
	text-decoration:none;
	color:#ff7800;
	line-height:50px;
	padding-left:10px;
	font-size:16px;
	text-decoration:none;
}

.shagnchuan{
	width:150px;
	height:50px;
	display:block;
	background:url(../images/toupic.png) no-repeat;
	margin:20px 70px;
} 
.shagnchuan a{
	text-decoration:none;
	color:#ff7800;
	line-height:50px;
	padding-left:10px;
	font-size:16px;
	text-decoration:none;
}

.upload_img span a:hover{
	text-decoration:none;
}
/*详情页焦点图开始*/
.demoPanel{
  padding:0;
  background-color: #222;
  text-align:center;
}
.demoPanel img{
  width:100%;
}
/*详情页焦点图结束*/
/*发布项目开始*/
.about_a_left_pub{
	width:400px;
	height:900px;
	background:#4e4439;
	float:left;
}
.about_a_left_img{
	width:400px;
	height:268px;
	
}
.about_a_left_img img{width:150px;
                    height:150px;
					border-radius:75px;
					border:5px solid #fff;
					margin-top:40px;
					-moz-border-radius: 75px; 
					/* Gecko browsers */
					-webkit-border-radius: 75px; 
					/* Webkit browsers */
					border-radius:75px;}
.about_a_left_img span{
	width:100%;
	color:#fff;
	font-size:24px;
	text-align:center;
	
}					
/*发布项目结束*/
/*滚回顶部*/
#goTopBtn {position: fixed;
            width:47px;
			bottom:35px;
			height:47px;
			cursor:pointer;
			display:none;
background:url(../images/top.png);
             z-index:1000;}

/*分页*/
/*fy begin*/
.fy2{width:1200px;
              margin:0 auto;
			  text-align:center;
			  padding-bottom:20px;}
.fy2 ul{ overflow:hidden; 
          zoom:1; 
		  font-size:14px;
		  margin:0 auto;
		  text-align:center;
		  width:600px;}
.fy2 ul li{ float:left;
         display:inline; 
		 height:28px; 
		 margin:0 3px; }
.fy2 ul li a{ display:block;
           /*width:26px; */
		   height:26px; 
		   text-align:center;
		   line-height:26px;}
.fy2 ul li.fy2_no a,.fy2 ul li.fy2_left a{ border:1px solid #E0E0E0; 
                                     color:#727270; 
									 font-weight:bold;
									 text-decoration:none;
									 padding:0 3px;}
.fy2 ul li.fy2_no a:hover,.fy2 ul li.fy2_no .actv{
	                 color:#fff;
	                 border:1px solid #ff7800; 
                       background:#ff7800;
					   padding:0 3px;
					   }
.fy2 ul li.fy2_no2 a,.fy2 ul li.fy2_left .a{
	                 color:#fff;
	                 border:1px solid #ff7800; 
                       background:#ff7800;
					   padding:0 3px;
					   }
.fy2 ul li.fy2_no2 a:hover,.fy2 ul li.fy2_no2 .actv{
	                 color:#fff;
	                 border:1px solid #ff7800; 
                       background:#ff7800;
					   padding:0 3px;
					   }

.fy2 ul li.fy2_left a:hover{ background:#EFEFEF; 
                            color:#A8A8A8;
							padding:0 3px;}
.fy2 li a.last{ /*background:url(../images/jtleft.jpg) no-repeat 7px center;*/
                                padding-left:6px; 
								width:70px;
								border:1px solid #E0E0E0;
								text-decoration:none;}
.fy2 li a.last:hover{/* background:url(../images/jtleft.jpg) no-repeat 7px center; */
                    color:#000;
					border:1px solid #E0E0E0;}
.fy2 li a.next{ /*background:url(../images/jtright.jpg) no-repeat 49px center;*/
             padding-left:6px; 
			 text-align:left; 
			 width:70px;
			 border:1px solid #E0E0E0;
			 text-decoration:none;}
.fy2 li a.next:hover{  /*background:url(../images/jtright.jpg) no-repeat 49px center; */
                     color:#000;
					 border:1px solid #E0E0E0;}
.fy2_t1{ border:none; 
         background:none;
      border:1px solid #CCCCCC; 
	   width:50px; 
	   margin:0 5px; 
	   padding:3px 3px;}
.fy2_but{border:none;
        background:none; 
		border:1px solid #CCCCCC; 
		padding:3px 3px;}
	
/*fy end*/
/*登录尾部*/
.foot{
	width:100%;
	height:101px;
	background:#f0f1f1;
	margin:0 auto;
	text-align:center;
}
.foot p{
	font-size:14px;
	padding-top:40px;
	color:#999999;
}
.editinfa {
	width:470px;
	height:60px;
	margin:0 auto;
	text-align:center;
	margin-top:50px;
	margin-bottom:250px;
}
.editinfa li{
	list-style:none;
	width:220px;
	height:60px;
	background:url(../images/editinf.png) no-repeat;
	display:block;
	float:left;
	line-height:60px;
}	
.editinfa li a{
	color:#fff;
	font-size:16px;
	text-decoration:none;
}
.editinfa li a:hover{
	text-decoration:none;
}
/*发起项目页*/			 
.set_bottom_h_l{
	width:65%;
	float:left;
	overflow:hidden;
	
	
}
.set_bottom_h_r{
	width:35%;
	float:left;
	overflow:hidden;
	padding:20px 0;
	background:#f9f9f9;
	padding:10px 20px;
}
.set_bottom_h_r ul {
	margin:0 auto;
	padding:0 auto;
	text-decoration:none;
}
.set_bottom_h_r ul li{
	width:150px;
	/*height:150px;*/
	/*line-height:150px;*/
	 float:left;
	 /*background:#fff;*/
	 list-style:none;
	 margin:20px 10px;
}
.set_bottom_h_r ul li a{
	color:#ff7800;
	font-size:14px;
	text-decoration:none;
}
.set_bottom_h_r ul li a:hover{
	text-decoration:none;
}
.xmimg_font{
	width:100%;
	
}	
.xmimg_font p{
	font-size:12px;
	color:#999999;
	text-align:left;
}
.top_name{
	float:left;
	
}
.top_name a{
	color:#be9e7e;
	text-decoration:none;
	font-weight:bold;

}
.top_name a:hover{
	text-decoration:none;
}
.top_menu_ul{
			width:160px;
      position:absolute;
		  top:65px;
		  left:0;
		  height:200px;
		/*  background:#fff;
		  border-radius:6px;
		  -moz-border-radius:6px;
		  -webkit-border-radius:6px;
		  box-shadow:0 0 3px #a5a0a0;
		  -moz-box-shadow:0 0 3px #a5a0a0;
		  -webkit-box-shadow:0 0 3px #a5a0a0;*/
		   background:url("../images/top_xm.png") no-repeat center 0;
		 
		  display:none;
		 }
	

.top_login .top_menu_ul li{
	list-style:none;
	line-height:35px;
	display:block;
	clear:both;
	height:35px;
	
}
.top_login .top_menu_ul li a{
	color:#999999;
	font-size:16px;
	text-decoration:none;
	padding:5px 20px;
	border-bottom:1px solid #f0f1f1;
	
}
.direction{width:100%;
          margin:10px 20px;
		 
		 }
.sur_address_ul_border{
	border:1px solid red;
}
/*列表页地址*/
.xzdq {
    background: transparent url("../images/xzdq_head.png") no-repeat scroll left 1px;
    width: 510px;
    min-height: 186px;
    display: none;
    position: absolute;
    z-index: 99;
    float: left;
    padding-top: 8px;
    margin-top: 18px;
    border: medium none;
}
.hide {
    display: block;
    width: 20px;
    height: 20px;
    float: right;
}

#Tab1 {
    width: 508px;
    padding: 0px;
    margin: 0px auto;
    background: #FFF none repeat scroll 0% 0%;
    min-height: 180px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 1px 0px #DDD;
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #DDD #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
.Menubox {
    width: 100%;
    height: 28px;
    line-height: 28px;
}
.Menubox ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.Menubox li {
    float: left;
    display: block;
    cursor: pointer;
    width: 60px;
    text-align: center;
    color: #999;
    font-weight: bold;
    margin-left: 10px;
    border-bottom: 2px solid #ff7800;
}
.Menubox li.hover {
    padding: 0px;
    background: #FFF none repeat scroll 0% 0%;
    width: 60px;
    color: #ff7800;
    font-weight: bold;
    margin-left: 10px;
    border-bottom: 2px solid #ff7800;
}

.Contentbox {
    clear: both;
    margin-top: 0px;
    text-align: justify;
    padding-top: 8px;
    padding-left: 10px;
}

.Contentbox a {
    display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    width: 60px;
    text-align: center;
    margin-right: 10px;
	color:#ff7800;
}

.city-content ul, .city-content li, .tab-content div {
    word-wrap: break-word;
    outline: medium none;
    padding: 0px;
    margin: 0px;
    font-family: "Microsoft YaHei","微软雅黑","Helvetica Neue",Arial,"STHeiti",SimSun,sans-serif;
}
.tab-content {
    width: 510px;
}
.tab-content > .active {
    display: block;
}

.city-content .item {
    clear: both;
}
.city-content .item span {
    color: #ff7800;
    float: left;
    padding: 5px 0px;
    width: 22px;
    display: block;
}

.city-content ul {
    margin-bottom: 10px;
}
.city-content .item ul {
    margin-left: 22px;
}
.city-content li {
    display: block;
    float: left;
}
.city-content li a {
    float: left;
    padding: 2px 5px;
    width: 70px;
    color: #ff7800;
}
/*弹出框按钮颜色*/
.ui-center-button {
    line-height: 40px;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    text-align: center;    
    background: #ff7800;
}
#nc {
    overflow: hidden;
    width: 28px;
    display:none;
}

.setpay{
	width:100%;
	line-height:60px;
	height:60px;
}
.setpay ul{
	float:left;
}
.setpay ul li{
	float:left;
	list-style:none;
	margin-right:10px;
}
.setpay ul li a{
	text-decoration:none;
	color:#000;
	padding:5px 20px;
	
	border:1px solid #ff7800;
	
}
.setpaya:hover{
	text-decoration:none;
	color:#fff;
	background:#ff7800;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	
}

/*网站后台*/
.setpay{
	width:100%;
	line-height:60px;
	height:60px;
}
.setpay ul{
	float:left;
}
.setpay ul li{
	float:left;
	list-style:none;
	margin-right:10px;
}
.setpay ul li a{
	text-decoration:none;
	color:#000;
	padding:5px 20px;
	border:1px solid #ff7800;
	
}
.setpay ul li a:hover,.setpay ul li .setpaya{
		  text-decoration:none;
	color:#fff;
	padding:5px 20px;
	background:#ff7800;
}

.admin_img{
	width:150px;
	height:150px;
	background:url(../images/upload_bg.png) no-repeat;
	margin-left:150px;
	position:absolute;
	
}
.admin_img img{
	width:150px;
	height:150px;
	background:url(../images/upload_bg.png) no-repeat;
}
.admin_file{
	margin-top:120px;
}
.pub_xm_ul{
	width:100%;
	height:60px;
	line-height:60px;
	text-align:left;
	
}
.pub_xm_ul ul li{
	list-style:none;
	float:left;
	margin-right:10px;
}
.pub_xm_ul ul li a{
	 text-decoration:none;
	color:#fff;
	padding:5px 20px;
	background:#ff7800;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.all_xm:hover{
	
	 text-decoration:none;
	color:#fff;
	padding:5px 20px;
	background:#ff7800;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
.xm_style{
	width:100%;
	height:auto;
	overflow:hidden;
	margin-top:20px;
	margin-bottom:20px;
	text-align:left;
}
.select_opt{
	width:120px;
	margin-right:20px;
}
.shaixuan{
	text-decoration:none;
	color:#fff;
	background:#ff7800;
	padding:5px 20px;
}
.shaixuan:hover{
	text-decoration:none;
	color:#fff;
}
.abo_id{
	width:100%;
	border-bottom:1px solid #e4e0e0;
}
.abo_id_a{
	width:100%;
	height:30px;
	
	margin-top:10px;
	margin-bottom:20px;
}
.abo_id_a span{
	float:left;
	height:30px;
	line-height:30px;
}
.set_pwd{
	color:#ff7800;
}
.host_page{
	width:80%;
	height:150px;
	margin:0 auto;
	text-align:center;
	background:#f1e9e9;
	padding:20px 10px;
}
.host_page p{
	text-align:left;
}
.bank{
	margin-top:60px;
	margin-left:20px;
	width:235px;
	height:139px;
	background:url(../images/bank_bg2.png) no-repeat;
	float:left;
    position: relative;
    padding-top:5px;
}
.bank.add{
    background:url(../images/bank_bg.png) no-repeat;
}
.add_bank{
	/*padding-top:109px;*/
}
.add_bank a{
	text-decoration:none;
}
.add_banka,.add_bank{
	/*padding-top:15px;*/
    /*padding-top: 109px;*/
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    text-align: center;
    width: 100%
}
.add_banka a{
	text-decoration:none;
}

.about_d{
	width:700px;
	height:180px;
	border:1px solid #e2dcdc;
}
.about_d_left{
	width:200px;
	float:left;
	padding:20px 10px;
}
.about_d_right{
	float:left;
	padding:20px 0;
}
.about_d_right p{
	color:#696868;
	text-align:left;
}
.about_d_bottom{
	width:100%;
	height:200px;
	margin-top:20px;
	background:red;
}


.control-group {
    margin: 0 0 5px 10px;
    overflow: hidden;
    padding: 5px 0;
}
.control-group .small_control_label {
    color: #666;
    float: left;
    font-size: 14px;
    height: 37px;
    line-height: 37px;
    margin-right: 15px;
    text-align: right;
    width: 90px;
}
.readonly {
    background: #f1f1f1 none repeat scroll 0 0;
}
.small_textbox {
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    color: #333;
    float: left;
    font-size: 14px;
    padding: 8px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 300px;
}


.blank0 {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}


.control-group .smaller_control_cont, .control-group .smaller_control_cont * {
    color: #333;
    float: left;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
}


.blank1 {
    clear: both;
    font-size: 0;
    height: 1px;
    line-height: 1px;
    margin: 0;
    padding: 0;
    visibility: hidden;
}
.b {
    font-weight: bold;
}
.f_red {
    color: #ff5500;
}
.btn_select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    color: #646878;
    cursor: pointer;
    display: inline-block;
    height: 37px;
    position: relative;
    transition: background 0.1s ease-in 0s, color 0.1s ease-in 0s;
    width: 120px;
}
.btn_select .cur_select {
    color: #646878;
    display: block;
    height: 37px;
    left: 0;
    line-height: 37px;
    position: absolute;
    text-align: left;
    text-indent: 10px;
    top: 0;
    width: 120px;
}


.select_arrow {
    background: rgba(0, 0, 0, 0) url("../images/sprite-new.png") no-repeat scroll -82px 0;
    float: right;
    height: 8px;
    margin: 15px 10px 0 0;
    width: 15px;
}


.btn_select select {
    color: #666;
    cursor: pointer;
    font: 14px/20px "Microsoft YaHei";
    height: 33px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: -2px;
    width: 100%;
}


.blank20 {
    clear: both;
    height: 20px;
    line-height: 20px;
    visibility: hidden;
}

.l_main p {
    line-height: 150%;
    margin-top: 20px;
}

.xqmain_left {
    color: #555555;
    font-size: 14px;
}

.control-group a {
    height: 37px;
}
.control-group a {
    display: inline-block;
    height: 41px;
    line-height: 41px;
}
.w150 {
    width: 150px;
}
.mr10 {
    margin-right: 10px;
}
.f_l {
    float: left;
}


.tc {
    text-align: center;
}



.ui-center-button {
    border-radius: 3px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    float: none;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    padding: 0 20px;
    text-align: center;
}
.ui-button, .ui-button_active, .ui-button_hover, .ui_button {
    border-radius: 3px;
    color: #fff !important;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-align: center;
}
.theme_bgcolor, .ckgd:hover, .rel-key-rec a.current, .ui_deals_filter_l ul li a:hover, .ui_deals_filter_l ul li.current a, .ui_deals_filter_l ul li.current a:hover,  .category ul li a:hover, .invester_all .con2_r .con3, .invester_all .con2_r a:hover, .tab-nav li.current a, .invester .invester_bd .r2 .tit, .pages span.current,  .btn_select.cur, .switch_nav ul li.current a {
    background: #ff7800 none repeat scroll 0 0;
}
input, select {
    outline: medium none;
}
input, button {
    border: medium none;
   
}
.bg_gray, .qxgz {
    background: #c0c0c0 none repeat scroll 0 0;}
    
    
    
.button_login1 {
    background: rgba(0, 0, 0, 0) url("../images/login_login1.png") no-repeat scroll center center;
    color: #fff;
    display: block;
    float: left;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-left:20%;
    text-decoration: none;
    width: 250px;
}
.button_login1:hover{
	text-decoration:none;
	color:#fff;
}

.logo_table .input_width1{
       width:150px;
         float:left;
	 height:50px;
	 background:url(../images/input_bg1.png) no-repeat center;
	 border:none;
	 background-position:-1px -2px;
	 outline:none;
	 
	 }
	 
	 
	 .about_r_a{
	width:100%;
	height:auto;
	overflow:hidden;
}
.about_r_a_a{
	width:100%;
	border-bottom:1px solid #e4e1e1;
	height:90px;
}
.about_r_a_b{
	 width:90px;
	float:left;
}
.about_r_a_c{
	width:500px;
	float:left;
	text-align:left;
	padding-left:5px;
	color:#8b8787;
}
.about_r_a_f {float:left;
             }
.about_r_a_f  a{text-decoration:none;
              color:#ff7800;}
.about_r_a_d{
	float:right;
	padding-right:20px;
	line-height:90px;
}
.about_r_a_d a{
	text-decoration:none;
	color:#ff7800;
}
.about_r_g{
	width:100%;
	
}
.about_r_a_h{
	
	width:100%;
	float:left;
	text-align:left;
	padding-left:5px;
	color:#8b8787;
	border-bottom:1px solid #e4e1e1;
	line-height:40px;

}
.about_r_a_g{
	float:right;
	padding-right:30px;
}
.about_r_a_g a{
	text-decoration:none;
	color:#ff7800;
}


.seta_a{
	width:100%;
	/*min-height:930px;
	background:#fff;
	padding-bottom:60px;*/
}
.seta_a_a{
	width:100%;
	
}
.seta_a_left{
	float:left;
	width:75%;
}
.seta_a_left_a{
	width:300px;
	float:left;
}
.seta_a_left_b{
	float:left;
	width:450px;	
	text-align:left;
}
.seta_a_right{
	float:left;
	width:25%;
	
	
}

.banner_h{
	width:300px;
	height:500px;
	margin:0 auto;
	
}
.banner_h ul{
	margin:0 auto;
	text-align:center;
}
.banner_h ul li{
	list-style:none;
	background:#fff;
	float:left;
	margin:10px 20px;
	padding:0 0 20px 0;
}
.seta_a_left_c{
	width:100%;
	
	background:#e9e4e4;
	text-align:left;
	padding:35px 20px;;
}
.xm_exchange{
	width:100%;
	float:left;
	
}
.xm_exchange dt{
	float:left;
	
}
.xm_exchange dd{
	float:left;
	margin-left:20px;
}
.xm_exchange dd a{
	text-decoration:none;
	color:#000;
}
.xm_exchangea{
	width:100%;
	padding:10px 0;
}
.xm_exchangea li{
	float:left;
	list-style:none;
}
.xm_exchangea li a{
	color:#000;
	padding:5px 10px;
	text-decoration:none;
}
.xm_exchangea li a:hover{
	color:#ff7800;
}

.prob_c:hover{
	text-decoration:none;
	}
	/*项目日志*/	
.sex_bottom_dairy_left{
	width:62%;
	
	
	float:left;
	margin-right:3%;
}
.sex_bottom_dairy_right{
	width:35%;
	
	/*background:yellow;*/
	float:right;
}
.sex_bottom_dairy_rightbv{
	width:100%;
	background:#f7fcff;
	margin-bottom:20px;
	border:1px solid #dae0e0;
}	
.xm_contenta_rightab{
	width:100%;
}
.sex_bottom_dairy_left_a{
	width:100%;
	margin-top:5px;
	
}
.sex_bottom_dairy_left_a
 dd{
	 float:left;
	 font-size:20px;
	 color:#000;
	 font-weight:bold;
 }
 .sex_bottom_dairy_left_a
 dt{
	 float:right;
 }
  .sex_bottom_dairy_left_a
 dt a{
	 text-decoration:none;
	 color:#fff;
	 background:#ff7800;
	 padding:5px 10px;
 }
 .timeline {
    background: rgba(0, 0, 0, 0) url("../images/timeline-left-bg.gif") repeat-y scroll 0 0;
}
.timeline-time-mark-t {
    height: 25px;
    margin-bottom: 17px;
}
.timeline-time-mark-t p, .timeline-time-mark-t span {
    background: rgba(0, 0, 0, 0) url("../images/time_line.png") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 25px;
}
.timeline-time-mark-t p {
    background-position: left -30px;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    padding-left: 42px;
}
.timeline-time-mark-t span {
    background: rgba(0, 0, 0, 0) url("../images/time_line.png") no-repeat scroll -292px -30px;
    width: 16px;
}
.timeline-box {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    color: #666;
    font-size: 14px;
    line-height: 25px;
    margin: 0 0 20px 26px;
    padding: 10px;
}
.timeline-left-gray-box {
    position: relative;
}
.timeline-left-gray {
    background: rgba(0, 0, 0, 0) url("../images/time_line.png") no-repeat scroll left -116px;
    height: 29px;
    left: -37px;
    position: absolute;
    top: 0;
    width: 28px;
}
.timeline-start{
	text-align:left;
}
.time_ox{
	text-align:left;
}
.sex_bottom_dairy_left_b{
	width:100%;
	margin-top:20px;
	
	
}
.sex_bottom_dairy_left_b dd{
	float:left;
	font-size:24px;
	font-weight:bold;
}
.sex_bottom_dairy_left_b dt{
	float:right;
	margin-right:2%;
}
.sex_bottom_dairy_left_b dt a{
	text-decoration:none;
	color:#fff;
	background:#ff7800;
	/*padding:5px 15px;*/
}
.sex_bottom_dairy_left_c{
	width:100%;
}
.sex_bottom_dairy_left_c li{
	list-style:none;
	float:left;
	margin-right:2%;
}
.sex_bottom_dairy_left_c li a{
	color:#fff;
	background:#ff7800;
	text-decoration:none;
	padding:5px 10px;
}
.table_pay{
	height:80px;
	border-color:#ff7800;
}
.table_pay td{
	border-color:#ff7800;
}
.table_pay_a{
	background:#ff7800;
	color:#fff;
}
.table_pay_con{
	border-color:#ff7800;
}
.table_pay_con td{
	color:#ff7800;
}
.pay_set_bb{
	color:#fff;
	background:#ff7800;
	text-decoration:none;
	padding:5px 20px;
	text-align:center;
	margin:0 auto;
}
.pay_set_bb:hover{
	color:#fff;
	background:#ff7800;
	text-decoration:none;
	padding:5px 20px;
	text-align:center;
	margin:0 auto;
}
.table_pay_table_con tr{border:1px solid #ff7800;}
.table_pay_table_con tr td{
	border:1px solid #ff7800;
}
.fileupload .filebox {
    cursor: pointer;
    height: 39px;
    opacity: 0;
    padding: 0;
    width: 97px;
}

/*放款记录*/
.found_time{
	line-height:50px;
	text-decoration:none;
	color:#fff;
	background:#ff7800;
	padding:5px 10px;
}
.found_time:hover{
	text-decoration:none;
	color:#fff;
}
/*新增login 2016-01-20*/
a.login-btn{
    margin-top: 15px;
    line-height: 40px;
    padding: 0 12px;
}
.btn-default{
    background:#ff7800;
    border: none;
}
a.login-btn:hover,a.login-btn:visited{
    background: #60584E;
    color: #ff7800;;
}

.login-weixin-btn{
    background: #619619 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 40%;
}
.login-weixin{
    margin-top: 10px;
    border-top: 1px solid #ff7800;
    width: 100%;
    margin: 0 auto;
    padding: 5%;
}
.login-weixin p{
    margin: 20px;
}
.login-weixin a.button_login {
    color: #fff;
    width: 60%;
    margin-left: 19%;
}
